<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Puppy</title>
  </head>
  <body>
    <h2>Puppy Name: <%= @name %></h2>
    <h3>Puppy Breed: <%= @breed %></h3>
    <h3>Puppy Age: <%= @age %></h3>
  </body>
</html>
